<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="這是一個專門展示卡牌網站，支援搜尋、UA中文卡表、看價格與組牌功能。">
  <meta name="keywords" content="卡牌, 收藏, TCG, UA中文卡表, 遊戲, Union Arena">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>歪西牌坊-UA中文卡表</title>
  <link rel="icon" href="/images/name.png" type="image/png">
  <link rel="stylesheet" href="/styles/series.css"> <!-- 引用外部 CSS -->
</head>
<body>
  <!-- 查看牌組按鈕 -->
  <button class="view-decks-button" id="view-decks-btn">查看牌組</button>

  <!-- 水平排列的容器 -->
  <div class="container">
    <div class="logo-container">
      <div class="server-name">
        <img src="/images/name.png" alt="歪西工坊">
      </div>
    </div>
    <!-- 下拉式選單 -->
    <div class="series-select-container">
      <h1>選擇系列</h1>
      <select class="series-select" id="series-select">
        <option value="" disabled selected>選擇系列</option>
        <% seriesData.forEach(series => { %>
          <option value="<%= series.name %>"><%= series.name %></option>
        <% }) %>
      </select>
    </div>
  
    <!-- 布告欄 -->
    <div class="notice-board">
      <h3>📜📜佈告欄📜📜</h3>
      <p>聯絡信箱: blockpn007@gmail.com</p>
      <p>價格來自悠悠亭，最近更新時間為:8月1號</p>
      <p>歡迎使用此系統，幫助你更好體驗union arena</p>
      <p>注意：牌組將在一個月內無人瀏覽時自動刪除。</p>
      <p>注意：牌組製作的牌如果進入不同系列會自動清除。</p>
      <p>
        點擊 <a href="https://torecards.com/unionarenatier/" target="_blank" style="color: rgb(30, 255, 0); text-decoration: underline;">T 表</a> 可前往別人的網站查看T表。
      </p>
    </div>
    <!-- 右上角圖片 -->
    <div class="top-right-image">
      <img src="/images/union.png" alt="Union">
    </div>
  </div>
  <!-- 系列卡片 -->
  <div class="series-container">
    <% seriesData.forEach(series => { %>
      <div class="series-card" data-series-name="<%= series.name %>">
        <img loading="lazy" src="<%= series.image %>" alt="<%= series.name %>">
        <h2><%= series.name %></h2>
      </div>
    <% }) %>
  </div>
</body>
  <!-- 外部腳本 -->
  <script src="/scripts/series.js"></script>
</html>